<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
     <form action="/form" method="POST">
      <input type="hidden" name="id" value="<%= locals.user.Id %>">
  <label for="firstName">First Name:</label>
  <input placeholder="John Doe" type="text" name="firstName" id="firstName" required>
  <label for="lastName">last Name:</label>
  <input placeholder="John Doe" type="text" name="lastName" id="lastName" required>
  <button type="submit">Submit</button>
</form>
</body>
</html>