<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h1>index</h1>
   <a href="/form">new user</a>
<ul>
    <% if (locals.users) {%>
        <% locals.allUsers.forEach(user => { %>
            <li><%= user.fullName %>  </li>
        <% }); %>
    <% }; %>
</ul>
</body>
</html>